* {
    padding: 0;
    margin: 0;
  }
  
  html {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 1rem 0;
  }
  
  header {
    display: flex;
    margin-bottom: 1rem;
  
    flex-direction: column;
    width: 90vw;
    align-items: center;
  }
  
  .page-title {
    font-size: 2.5rem;
    font-weight: bolder;
  }
  
  nav {
    display: flex;
    gap: 3rem;
  }
  
  nav a {
    text-decoration: none;
    font-weight: bolder;
    color: #0071e3;
  }

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0 2rem;
  }
}

@media only screen and (min-width: 992px) {
  
}

@media only screen and (min-width: 1200px) {
  header {
    max-width: 1200px;
  }
}