/* janky work around for now
    need to create a style sheet common to all pages and one specific to each page
*/

main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
  }

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.section-heading {
    margin: 0 0 1rem 0; 
    padding: 0 0 0.5rem 0;
    border-bottom: 1px solid lightgrey;
}

.tile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 15vw;
    min-width: 6rem;
    min-height: 6rem;
    max-width: 12rem;
    max-height: 12rem;
    border-radius: 11px;
    box-shadow: 0 3px 10px lightgrey;
    padding: 1rem;
    margin: 10px;
}

.icon {
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (max-width: 600px) {
    .tile-container {
        max-width: 90vw;
    }

    .tile {
        width: 6rem;
        height: 6rem;
    }
}

@media only screen and (min-width: 600px) {
    .tile-container {
        max-width: 90vw;
    }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
    #top-skills {
        max-width: 900px;
    }
}

@media only screen and (min-width: 1200px) {

}