* {
  padding: 0;
  margin: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 1rem 0;
}

header {
  display: flex;
  margin-bottom: 1rem;

  flex-direction: column;
  width: 90vw;
  align-items: center;
}

.page-title {
  font-size: 2.5rem;
  font-weight: bolder;
}

nav {
  display: flex;
  gap: 3rem;
}

nav a {
  text-decoration: none;
  font-weight: bolder;
  color: #0071e3;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

#bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90vw;
}

.picture-image {
  border-radius: 290486px;
  max-height: 80vw;
  max-width: 80vw;
  margin: 1rem 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 516px;
}

#position-text {
  font-size: 1.2rem;
  font-weight: 300;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.button {
  border: 0;
  background-color: #0071e3;
  border-radius: 980px;
  padding: 8px 24px;
  font-weight: normal;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  transition-delay: 300ms;
  width: fit-content;
}

.button:hover {
  background-color: #479ef5;
  color: white;
}

.button:active {
transition: none;
}

#contact-button {
  margin: 1rem 0;
}

#socials-bar {
  display: flex;
  gap: 0.5rem;
}

.social-link {
  color: black;
  font-size: 2rem;
  text-align: center;
  transition-property: opacity, transform;
  will-change: opacity, transform;
  transform: scale(0.8);
  opacity: 0.5;
}

.social-link:hover {
  transform: scale(1);
  opacity: 1;
}

.fa-brands {
  color: black;
}

.fa-github:hover {
  color: #171515;
}

.fa-linkedin:hover {
  color: #0e76a8;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.fa-discord:hover {
  color: #5865F2;
}

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0 2rem;
  }

  #bio-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .picture-image {
    border-radius: 290486px;
    max-height: 20rem;
    max-width: 20rem;
    margin: 0 4rem 0 0;
  }

  .bio {
    align-items: flex-start;
  }
  
  #position-text {
    font-size: 1.5rem;
  }

}

@media only screen and (min-width: 992px) {
  #bio-container {
    max-width: 900px;
  }
}

@media only screen and (min-width: 1200px) {
  header {
    max-width: 1200px;
  }
}
