* {
  padding: 0;
  margin: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin-top: 1rem;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
}

.page-title {
  font-size: 3rem;
  font-weight: bolder;
}

nav {
  display: flex;
  gap: 3rem;
}

nav a {
  text-decoration: none;
  font-weight: bolder;
  color: #0071e3;
}

/* Main Content */

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}

#bio-container {
  display: flex;
  max-width: 900px;
}

.picture-image {
  border-radius: 290486px;
  max-height: 20rem;
  max-width: 20rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 5rem;
}

#position-text {
  font-size: 1.5rem;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.button {
  border: 0;
  background-color: #0071e3;
  border-radius: 980px;
  padding: 8px 24px;
  font-weight: normal;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  transition-delay: 300ms;
  width: fit-content;
}

.button:hover {
  background-color: #479ef5;
  color: white;
}

.button:active {
transition: none;
}

#contact-button {
  margin-top: 1rem;
}

.socials-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  position: fixed;
  /* top: 50%; */
  right: 2vw;
}

.socials-list li {
  font-size: 2rem;
  transition-property: opacity, transform;
  will-change: opacity, transform;
  opacity: 0.5;
  margin: 0.5rem;
}

.socials-list li:hover {
  opacity: 1;
  transform: scale(1.3);
}

.socials-list a {
  color: black;
}

.fa-github:hover {
  color: #171515;
}

.fa-linkedin:hover {
  color: #0e76a8;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.fa-discord:hover {
  color: #5865F2;
}

/* 
.socials-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  list-style-type: none;
  padding-left: 0;
}

.socials-list {
  margin-bottom: 0;
}

.socials-list li {
  font-size: 2rem;
  transition-property: opacity, transform;
  will-change: opacity, transform;
  transform: scale(0.75);
  opacity: 0.5;
  margin: 0.5rem;
}

.socials-list a {
  color: black;
}

.socials-list li:hover {
  opacity: 1;
  transform: scale(1);
}

.fa-github:hover {
  color: #171515;
}

.fa-linkedin:hover {
  color: #0e76a8;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

Responsive layout - makes a one column-layout when display is less than 50px
@media screen and (max-width: 50rem) {
  main {
    flex-direction: column;
  }
  
  .picture-image {
    margin-top: 1.5rem;
    margin-right: 0rem;
  }

  .bio {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .description {
    margin-bottom: 0;
  }

  #bio-header, .description p {
    text-align: center;
  }

  .socials-list {
    flex-direction: row;
    position: inherit;
    right: auto;
    justify-content: center;
    margin-left: 0rem;
    margin-bottom: 1rem;
  }
} */